.search1, .search2, .search3 {
    width: 300px;
    height: 100px;
    background-size: cover;
    background-position: center;
}

.searchBtn {
    margin-bottom:10px;
    background-color: #809681;
}

.searchContainer {
    text-align: center;
    font-weight: 600;
}

.search1 {
    background-image: url("../../assets/search_1.jpg"); 
}

.search2 {
    background-image: url("../../assets/search_2.jpg"); 
}

.search3 {
    background-image: url("../../assets/search_3.jpg"); 
}