.homeContainer {
    width: 100%;
    /* height: 80%; */
    height: 80vh;
}

.mainWrapper{
    background-image: url(./../../assets/home.webp);
    background-size: cover;
    width:100%;
    height:65%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.headerDate {
    display: flex;
    flex-direction: column;
    margin-right:35%;
    width:25%;
  }
  
.header {
    margin-right: 10px;
    color: #d8d64f;
    font-size: 4vw;
}

.date {
    margin-right: 10px;
    color: #fff;
    font-size: 1.25vw;
}

.learnMoreBtn{
    background-color: #e2dfdf;
    border-radius: 5px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    font-weight:400;
}

.secondaryWrapper {
    height:47%;
    display: flex;
    flex-direction: row;
}

.secondaryImg{
    background-image: url(./../../assets/home_2nd.webp);
    background-size: cover;
    width:35%
}

.DescriptionCard {
    width:65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #9bb79d;
    padding:5px
}

.description {
    font-weight: 500;
    color:#000;
    font-size:1.25vw;
    width:75%;
}

.subtitle {
    /* padding-left: 25px; */
    text-align:end;
    align-items: end;
}

.description,
.subtitle {
    position: relative;
    z-index: 2;
    margin-top:1.5vw;
}

.subtitle h1 {
    color:#fff;
    font-weight: bolder;
    font-size:3.75vw;
}

.subtitle h3 {
    color:#000;
    font-weight: 400;
    font-size:2.75vw;
}

.semiCircle {
    position: absolute;
    bottom: 0;
    right: 0; 
    width: 25%;
    height:30%;
    border-top-left-radius: 100%;
    z-index: 1;
    background-color: #809681;
  }